#clockdiv{
    font-family: sans-serif;
    color: #FFC915;
    display: inline-block;
    font-weight: 100;
    text-align: center;
	background: #66c2ff;
    font-size: 30px;
	border-radius: 5px;
}

#clockdiv > h1 {
	display: block;
	font-size: 2em;
	-webkit-margin-before: 0.67em;
	-webkit-margin-after: 0.1em;
	-webkit-margin-start: 10px;
	-webkit-margin-end: 10px;
	font-weight: bold;
}

#clockdiv > div{
    padding: 10px;
    display: inline-block;
	background: #1aa3ff;
	-webkit-margin-end: 5px;
	-webkit-margin-after: 5px;
	border-radius: 3px;
}

#clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #007acc;
    display: inline-block;
}

#clockdiv .smalltext{
    padding-top: 5px;
    font-size: 16px;
}

#gb#gb a.gb_b {
    color: #000 !important;
    cursor: pointer;
    text-decoration: none;
}

#gb#gb.gb_X a.gb_P, #gb#gb.gb_X span.gb_P, #gb#gb .gb_X a.gb_P, #gb#gb .gb_X span.gb_P {
    color: #000 !important;
}

.gb_3b {
    background-image: url(//ssl.gstatic.com/gb/images/v1_76783e20.png) !important;
    -webkit-background-size: 92px 2541px;
    background-size: 92px 2541px;
}

a.gb_b.gb_3b {
    background-position: -35px -311px !important;
    opacity: .55;
}